//HEADER PORTAL//

.headerportal {
	width: 100%;
	min-height: 100vh;
	background-image: url(../img/bg_portal.svg);
	background-size: cover;
	background-position: center top;
	.marcas {
	margin-top: 150px;
	img { width: 400px;
	}
	}
}

.titulo_portal {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	h1 {
		font-size: 1em;
		line-height: 1;
		display: inline-block;
		text-align: left;
		font-family: $fonte;
		color: white;
		span {
			&:first-child {
				font-size: 1em;
				font-weight: normal;
			}
			&:last-child {
				font-size: 2.5em;
				font-weight: bold;
			}

		}
	}
	a {
		color: white;
		font-size: 0.9em;	
		display: block;
		text-decoration: underline;
	}
}

.botoes_portal {
	display: block;
	text-align: center;
	a { 	
		background-color: $branco;
		display: inline-block;
		width: 265px;
		height: 265px;
		margin: 40px 20px 0 30px;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;

		&:nth-child(1) {
			svg {
				margin-top: 45px;
				path {
					fill: $roxo;
				}
			}
			&:hover {
			background: $roxo;
			}
		}
		&:nth-child(2) {
			svg {
				margin-top: 45px;
				path {
					fill: $turquesa;
				}
			}
			&:hover {
			background: $turquesa;
			}
		}
		&:nth-child(3) {
			svg {
				margin-top: 45px;
				path {
					fill: $azul;
				}
			}
			&:hover {
			background: $azul;
			}
		}

		&:nth-child(4) {
			svg {
				margin-top: 45px;
				path {
					fill: $verde;
				}
			}
			&:hover {
			background: $verde;
			}
		}
		svg {
			width: 75%;
			display: inline-block;
			position: relative;
			
			path {
				transition: fill 0.2s ease-in-out;
			}
		}
		&:hover {
			svg path{
				fill: $branco;
			}
		}
	}
}


//HEADER CAPA//

.headerindex {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center top;
}

.tituloum {
	padding-top: 100px;
	display: block;
	img { 
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.titulodois {
	font-family: $fonte;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.4;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.autor {
	font-family: $fonte;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 1.4;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.botoes_index {
	display: block;
	text-align: center;
	a { 	
		font-family: $fonte;
		font-weight: bold;
		display: inline-block;
		color: $branco;
		width: 90px;
		height: 90px;
		margin: 30px 20px 60px 30px;
		font-size: 0.75em;
		border-radius: 50%;
		text-align: center;
		vertical-align: middle;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		span {
			display: inline-block;
			position: relative;
			margin-top: 23px;
		}
	}
}



//HEADER CONTEUDO//

.headerconteudo {
	padding: 15px 0 40px;
	width: 100%;
	// height: 200px;
	// margin-top: 0;
	// min-height: 100vh;
	background-size: cover;
	background-position: center top;
	display: inline-block;
	span {
		display: block;
		margin-bottom: 50px;
		font-family: Arial, sans-serif;
		font-size: 1em;
		color: $branco;
	}
	h1 {
		font-size: 3em;
		// padding-top: 30px;
		color: $branco;
	}
	.botoes {
		float: right;
		// padding-bottom: 50px;
		// margin-top: -38px;	
		.menu {
		display: inline-block;
		width: 30px;	
		}
		.print {
		display: inline-block;
		padding-right: 10px;
		width: 40px;	
		}
	}	
}




