//CORES//
$branco: #FFF;
$preto: #212121;
$rosa: #b20f62;
$roxo: #821f81;
$turquesa: #02969c;
$cinza: #f6f6f6;
$cinzaescuro: #aaaaaa;
$azul: #254CA5;
$laranja: #EE7A25;
$verde: #97c21e;

// FONTES
$fonte: 'Raleway',sans-serif;

/////// MEDIA QUERIES e TAMANHOS
$container: 1180px;
$tablet: 990px;
$smart-maior: 680px;
$smart-menor: 500px;
$celular: 380px;
$sidebar: 300px;

$artigo: 800px;

//CONTAINER//
.container {
	margin: 0 auto;
	width: $container;
	@media screen and (max-width: $container) {
		width: 100%;
	}
}

/****************************************
 * DEFINICOES E FORMATACOES DE TEXTO *
 ****************************************/
// links
a {
	&:link, &:visited, &:active, &:focus {
		outline: 0;
		color: inherit;
		text-decoration:none;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		overflow-wrap: break-word;
  word-break: break-all;
	}

	&:hover, &:focus {text-decoration: underline;}

	&:focus { font-weight: bold; }
}
b, strong {
	font-weight: bold;
	color: inherit;
}
u {
	text-decoration: underline;
}
i, em {
	color: inherit;
	font-style: italic;
}
s, del {
	text-decoration: line-through;
}

// paragrafos e formatacoes padrao
p, article ul, article ol, blockquote, figure {
	margin-bottom: 1em;
}

ol {
	list-style: upper-roman;
	margin-left: 23px;

	li::marker {
  color: $verde;}
	
}

small {
	font-size: 80%;
}

center {
	text-align: center;
}

// titulos
h1, h2, h3, h4, h5 {
	line-height: 1.3;
	display: block;
	color: inherit;
    font-weight: bold;
    font-family: $fonte;

	a {
		color: inherit !important;
		text-decoration:none !important;
	}
}

h1 {
    font-size: 1.7em; 
    article {font-size: 1.7em;}
    @media (max-width: $smart-maior) {
    	font-size: 1.8em;

    	article {font-size: 1.7em;}
    }
}

h2 { 
	font-size: 1.4em;
	@media (max-width: $smart-maior) {font-size: 1.5em; }
}
h3 { 
	font-size: 1.2em;
	@media (max-width: $smart-maior) {font-size: 1.25em; }
}
h4 { 
	font-size: 1.1em;
	@media (max-width: $smart-maior) {font-size: 1.2em; }
}
h5 { 
	font-size: 1em;
	@media (max-width: $smart-maior) {font-size: 1em; }
}

.clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
