@import "normalize";
@import "fontface";
@import "padrao";

body, html {overflow-x: hidden;}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 1.7;
	color: $preto;
	font-family: $fonte;
	// letter-spacing: 0.04em;
	position: relative;
	background-color: $branco;

	&.livro1 {
		article {
			h1, h2, h3, h4, h5 {
				color: $rosa;
			}
			p.dialogo {
				color: $rosa;
			}
			a {
				color: $rosa;
			}
			button.bt-nota{
				&.atual{
					background-color: $rosa;
				}
			}
		}
		.fichalivro h3 { color: $rosa; }
		.headerindex { background-image: url(../img/bg_index1.svg); }
		.tituloum { img { width: 300px; } }
		.headerconteudo {
			background-image: url(../img/topobg1.svg);
		}
		.botoes_index {
			a { 	
				background-color: $rosa;
				&:hover {
					color: $rosa;
					background-color: $branco;
				}
			}
		}
		a.iniciarebook {
			background: $rosa;
			border-color: $rosa;
			&:hover { color: $rosa !important; }
			&:before { background: $rosa; }
		}
		.footerconteudo .container { 
			a.sumariofooter { 
				color: $rosa; 
				&:hover { 
					color: $roxo;
				}
			}
			a.proximo, a.anterior {
				background-color: $rosa;
			}
		}
		.listasumario {
			p.paginasumario {
				&:before, span { background-color: $rosa; }
			}
		}
		#notas-rodape {
			border-color: $rosa; 
		}
	}


	&.livro2 {
		article {
			h1, h2, h3, h4, h5 {
				color: $roxo;
			}
		p.dialogo {
				color: $roxo;
			}

			button.bt-nota{
				&.atual{
					background-color: $roxo;
				}
			}
		}
		.fichalivro h3 { color: $roxo; }
		.headerindex { background-image: url(../img/bg_index2.svg); }
		.tituloum { img { width: 500px; } }
		.headerconteudo { background-image: url(../img/topobg2.svg); }
		.botoes_index {
			a { 	
				background-color: $roxo;
				&:hover {
					color: $roxo;
					background-color: $branco;
				}
			}
		}
		a.iniciarebook {
			background: $roxo;
			border-color: $roxo;
			&:hover { color: $roxo !important; }
			&:before { background: $roxo; }
		}
		.footerconteudo .container { 
			a.sumariofooter { 
				color: $roxo; 
				&:hover { 
					color: $rosa;
				}
			}
			a.proximo, a.anterior {
				background-color: $roxo;
			}
		}
		.listasumario {
			p.paginasumario {
				&:before, span { background-color: $roxo; }
			}
		}
		#notas-rodape {
			border-color: $roxo; 
		}
	}

	&.livro3 {
		article {
			h1, h2, h3, h4, h5 {
				color: $azul;
			}
			.contracapa {
				&:before {
				background-color: $laranja;
				}
				hr {
					background-color: $laranja;
				}
			}
			p.dialogo {
				color: $azul;
			}

			button.bt-nota{
				&.atual{
					background-color: $azul;
				}
			}
		}
		.fichalivro h3 { color: $azul; }
		.headerindex { background-image: url(../img/bg_index3.svg); }
		.tituloum { img { width: 500px; } }
		.headerconteudo { background-image: url(../img/topobg3.svg); }
		.botoes_index {
			a { 	
				background-color: $laranja;
				&:hover {
					color: $laranja;
					background-color: $branco;
				}
			}
		}
		a.iniciarebook {
			background: $azul;
			border-color: $azul;
			&:hover { color: $azul !important; }
			&:before { background: $azul; }
		}
		.footerconteudo .container { 
			a.sumariofooter { 
				color: $azul; 
				&:hover { 
					color: $laranja;
				}
			}
			a.proximo, a.anterior {
				background-color: $azul
			}
		}
		.listasumario {
			p.paginasumario {
				&:before, span { background-color: $azul; }
			}
		}
		#notas-rodape {
			border-color: $azul; 
		}
	}

	&.livro4 {
		article {
			h1, h2, h3, h4, h5 {
				color: $azul;
			}
			.contracapa {
				&:before {
				background-color: $laranja;
				}
				hr {
					background-color: $laranja;
				}
			}
			p.dialogo {
				color: $azul;
			}

			button.bt-nota{
				&.atual{
					background-color: $azul;
				}
			}
		}
		.fichalivro h3 { color: $azul; }
		.headerindex { background-image: url(../img/bg_index4.svg); }
		.tituloum { img { width: 500px; } }
		.headerconteudo { background-image: url(../img/topobg4.svg); }
		.botoes_index {
			a { 	
				background-color: $laranja;
				&:hover {
					color: $laranja;
					background-color: $branco;
				}
			}
		}
		a.iniciarebook {
			background: $azul;
			border-color: $azul;
			&:hover { color: $azul !important; }
			&:before { background: $azul; }
		}
		.footerconteudo .container { 
			a.sumariofooter { 
				color: $azul; 
				&:hover { 
					color: $laranja;
				}
			}
			a.proximo, a.anterior {
				background-color: $azul
			}
		}
		.listasumario {
			p.paginasumario {
				&:before, span { background-color: $azul; }
			}
		}
		#notas-rodape {
			border-color: $azul; 
		}
	}
}

@import "header";
@import "main";
@import "footer";
@import "sumario";
@import "responsivo";
@import "print";